#background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  #background video {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  #background::after {
      content: '';
      position: fixed;
      inset: 0;
      width: inherit;
      height: inherit;
      background: linear-gradient(109deg, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 85%);
  }