.nav-link {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--red);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--red);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-social {
    margin-left: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-social svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    opacity: 0.8;
    transition: all 0.2s;
}

.nav-social svg:hover {
    opacity: 1;
    transform: translateY(-4px);
    cursor: pointer;
}