.hero-wrapper {
    width: 100%;
    max-width: 460px;
    margin-top: 2rem;
}

.hero-wrapper img {
    width: 50%;
}

.hero-wrapper p {
    font-size: 1rem;
    margin: 1rem 0 2rem;
}

.hero-wrapper div {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-wrapper div a {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 50%;
    padding: 1rem 0;
    background: var(--red);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-wrapper div a:hover {
    background: darkred;
    transform: scale(1.05);
}

.slide {
    width: 500px;
    height: 600px;
    margin-top: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-100%);
    object-fit: contain;
}

